<div class="alert alert-light" role="alert"  [innerHtml]= "description | newLine">
</div>

<figure class="figure" *ngFor="let item of itemMenu.elements"> 
    <img data-toggle="modal" data-target="#viewElementGallery"
        src="../../../_files/{{itemMenu.keyItemMenu}}/{{item.name}}/{{item.thumbail}}" 
        alt="{{item.name}}" class="img-thumbnail"
        (click)="updateModalImg(item.img)"/>
    <figcaption class="figure-caption text-center">{{item.name}}</figcaption>
</figure>



<div class="modal fade" id="viewElementGallery" tabindex="-1" role="dialog" aria-labelledby="viewElementGalleryLabel" 
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="viewElementGalleryLabel">{{itemMenu.nameItemMenu}} - {{modalViewElement.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img  *ngIf="modalViewElement.name"
                src="../../../_files/{{itemMenu.keyItemMenu}}/{{modalViewElement.name}}/{{modalViewElement.img}}" 
                alt="{{modalViewElement.name}}" class="img-fluid rounded mx-auto d-block"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>