.media{
    background-image: url("../assets/head.jpg");
    color: white;
}

footer{
    font-size: 0.75em;
    font-weight: bold;
    color: grey;
}

.list-group-item.active{
    background-image: url("../assets/head.jpg");
    border-color: black;
}

.hand-click {
    cursor: pointer;
}

