
<div class="media" >
  <img src="{{info.logo}}" class="align-self-center mr-3 hand-click" alt="{{info.titleSite}}" (click)="redirect('./home')">
  <div class="media-body">
    <h1 class="mt-0 hand-click" (click)="redirect('./home')">{{info.titleSite}}</h1>
    {{info.descriptionSite}}
  </div>
</div>


<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> 
  
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a (click)="repliega()" routerLinkActive="active" class="nav-item nav-link" routerLink="/home" (click)="redirect('./home')">Home</a>
      <a (click)="repliega()" *ngFor="let item of info.menu"
        routerLinkActive="active" routerLink="/{{item.keyItemMenu}}"  (click)="redirect(item.keyItemMenu)" 
        class="nav-item nav-link">{{item.nameItemMenu}}</a>
      <a  (click)="repliega()" routerLinkActive="active" routerLink="/about"  class="nav-item nav-link" (click)="redirect('./about')">About</a>
    </div>
  </div>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>


<footer class="container">
  <hr/>
  <p class="text-center" [innerHtml]= "info.footer.description"></p>
</footer>


