/* You can add global styles to this file, and also import other style files */

.swiper-pagination-bullet {
    width: 20px !important;
    height: 20px !important;
    text-align: center !important;
    line-height: 20px !important;
    font-size: 12px !important;
    color: #000 !important;
    opacity: 1 !important;
    background: rgba(0, 0, 0, 0.2) !important;
  }

  .swiper-pagination-bullet-active {
    color: #fff !important;
    background: #007aff !important;
  }